body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.nav_base{
    background-color: black;
    color: white;
}
.footer_base{
    background-color: black;
    color: white;
    margin-top: auto;
}